<div class="grid-item">
  {% if hobby.redirect %}
  <a href="{{ hobby.redirect }}" target="_blank">
  {% else %}
  <a href="{{ hobby.url | relative_url }}">
  {% endif %}
    <div class="card hoverable">
      {% if hobby.img %}
      <img src="{{ hobby.img | relative_url }}" alt="hobby thumbnail">
      {% endif %}
        <div class="card-img-overlay d-flex flex-column">
        <h2 class="card-title">{{ hobby.title }}</h2>
	<!-- <p class="card-text">{{ hobby.description }}</p> -->
	{{% if hobby.thumbnail_credit %}}
	<p class="card-text mt-auto">{{ hobby.thumbnail_credit }}</p>
	{{% endif %}}
        <div class="row ml-1 mr-1 p-0">
          {% if hobby.github %}
          <div class="github-icon">
            <div class="icon" data-toggle="tooltip" title="Code Repository">
              <a href="{{ hobby.github }}" target="_blank"><i class="fab fa-github gh-icon"></i></a>
            </div>
            {% if hobby.github_stars %}
            <span class="stars" data-toggle="tooltip" title="GitHub Stars">
              <i class="fas fa-star"></i>
              <span id="{{ hobby.github_stars }}-stars"></span>
            </span>
            {% endif %}
          </div>
          {% endif %}
        </div>
	</div> 
    </div>
  </a>
</div>
